/*MEDIAS DE INDEX*/
@media (max-width: 351px) {
	.logoHeader {
		margin-left: 20px;
	}
	.contenedor-img {
		display: none;
	}
	.text-footer {
		display: none;
	}
	.card-index {
		margin-top: 30px;
	}
	.h1-index {
		font-size: 2rem;
	}
	.p1-index {
		font-size: 1rem;
	}
}
@media (min-width: 352px) and (max-width: 480px) {
	.logoHeader {
		margin-left: 20px;
	}
	.contenedor-img {
		width: 311px;
		height: 300px;
	}
	.text-footer {
		display: none;
	}
	.card-index {
		margin-top: 30px;
	}
	.h1-index {
		font-size: 2.5rem;
	}
	.p1-index {
		font-size: 1.5rem;
	}
}
@media (min-width: 481px) and (max-width: 600px) {
	.logoHeader {
		margin-left: 20px;
	}
	.text-footer {
		display: none;
		display: none;
	}
	.card-index {
		margin-top: 30px;
	}
	.h1-index {
		font-size: 3rem;
	}
	.p1-index {
		font-size: 2rem;
	}
}
@media (min-width: 601px) and (max-width: 768px) {
	.logoHeader {
		margin-left: 20px;
	}
	.text-footer {
		display: none;
	}
	.card-index {
		margin-top: 30px;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.logoHeader {
		margin-left: 20px;
	}
	.text-footer {
		display: none;
	}
	.card-index {
		margin-top: 30px;
	}
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.logoHeader {
		margin-left: 20px;
	}
	.card-index {
		margin-top: 30px;
	}
}
@media (min-width: 1201px) and (max-width: 1800px) {
	.logoHeader {
		margin-left: 20px;
	}
	.card-index {
		margin-top: 50px;
	}
}

/*MEDIA DE GALERIA*/

@media (max-width: 351px) {
	.galeria-titulo {
		padding-top: 25px;
	}
	.imagenGaleria{
		margin-left: 7%;
	}
	.h1-galeria{
		display: none;
	}
	.reservarturno-h1{
		display: none;
	}
}
@media (min-width: 352px) and (max-width: 480px) {
	.galeria-titulo {
		padding-top: 25px;
	}
	.imagenGaleria{
		margin-left: 15%;
	}
	.h1-galeria{
		display: none;
	}
}
@media (min-width: 481px) and (max-width: 600px) {
	.galeria-titulo {
		padding-top: 20px;
	}
	.imagenGaleria {
		margin-left: 27%;
		width: 400px;
		height: 450px;
	}
	.h1-galeria{
		display: none;
	}
}
@media (min-width: 601px) and (max-width: 768px) {
	.galeria-titulo {
		padding-top: 10px;
	}
	.imagenGaleria {
		margin-left: 30%;

		padding-top: 30px;
		width: 400px;
		height: 450px;
	}
	.h1-galeria{
		display: none;
	}
}
@media (min-width: 769px) and (max-width: 989px) {
	.galeria-titulo {
		padding-top: 20px;
	}
	.imagenGaleria {
		margin-left: 12%;
		width: 300px;
		height: 350px;
	}
}
@media (min-width: 990px) and (max-width: 1024px) {
	.galeria-titulo {
		padding-top: 20px;
	}
	.imagenGaleria {
		margin-left: 12%;
		padding-bottom: 30px;
		width: 300px;
		height: 350px;
	}
}
@media (min-width: 1025px) and (max-width: 1200px) {
	.galeria-titulo {
		padding-top: 20px;
	}
	.imagenGaleria {
		margin-left: 11%;
		padding-bottom: 30px;
		width: 400px;
		height: 450px;
	}
}

@media (min-width: 1201px) and (max-width: 1300px) {
	.galeria-titulo {
		padding-top: 12px;
	}
	.imagenGaleria {
		margin-left: 17%;
		width: 400px;
		height: 450px;
	}
}

@media (min-width: 1301px) and (max-width: 1800px) {
	.galeria-titulo {
		padding-top: 20px;
	}
	.imagenGaleria {
		margin-left: 4%;
		width: 400px;
		height: 450px;
	}
}

/*MEDIA DE RESERVAR TURNO*/
@media (max-width: 351px) {
	.reservarturno-h1 {
		font-size: 2rem;
		padding-top: 5px;
		padding-left: 5px;
		color: $color_1;
	}
	.reservarturno-fondo {
		width: 75%;
		margin-left: 12%;
	}
	.reservarturno-h3 {
		display: none;
	}
	.formulario {
		width: 80%;
		text-align: center;
		border-radius: 3px;
		color: $color_2;
		font-size: 1.5rem;
	}
	.reservarturno-colo-boton {
		background-color: $background-color_1;
		color: $color_3;
		font-size: 1.5rem;
		margin-left: 5px;
	}
}
@media (min-width: 352px) and (max-width: 480px) {
	.reservarturno-h1 {
		font-size: 2rem;
		padding-top: 5px;
		padding-left: 5px;
		color: $color_1;
	}
	.reservarturno-fondo {
		width: 75%;
		margin-left: 12%;
	}
	.reservarturno-h3 {
		display: none;
	}
	.formulario {
		width: 80%;
		text-align: center;
		border-radius: 3px;
		color: $color_2;
		font-size: 1.5rem;
	}
	.reservarturno-colo-boton {
		background-color: $background-color_1;
		color: $color_3;
		font-size: 1.5rem;
		margin-left: 5px;
	}
}
@media (min-width: 481px) and (max-width: 600px) {
	.reservarturno-h1 {
		font-size: 3rem;
		padding-top: 5px;
		padding-left: 5px;
		color: $color_1;
	}
	.reservarturno-fondo {
		width: 75%;
		margin-left: 12%;
	}
	.reservarturno-h3 {
		font-size: 2rem;
		margin-left: 3%;
		color: $color_1;
		text-align: center;
	}
	.formulario {
		width: 80%;
		text-align: center;
		border-radius: 3px;
		color: $color_2;
		font-size: 1.5rem;
	}
	.reservarturno-colo-boton {
		background-color: $background-color_1;
		color: $color_3;
		font-size: 1.5rem;
		margin-left: 5px;
	}
}
@media (min-width: 601px) and (max-width: 768px) {
	.reservarturno-h1 {
		font-size: 3rem;
		padding-top: 5px;
		padding-left: 5px;
		color: $color_1;
	}
	.reservarturno-fondo {
		width: 75%;
		margin-left: 12%;
	}
	.reservarturno-h3 {
		font-size: 2rem;
		margin-left: 3%;
		color: $color_1;
		text-align: center;
	}
	.formulario {
		width: 80%;
		text-align: center;
		border-radius: 3px;
		color: $color_2;
		font-size: 1.5rem;
	}
	.reservarturno-colo-boton {
		background-color: $background-color_1;
		color: $color_3;
		font-size: 1.5rem;
		margin-left: 5px;
	}
}
@media (min-width: 769px) and (max-width: 989px) {
	.reservarturno-h1 {
		font-size: 3rem;
		margin-left: 32%;
		padding-top: 5px;
		padding-left: 5px;
		color: $color_1;
	}
	.reservarturno-fondo {
		width: 75%;
		margin-left: 12%;
	}
	.reservarturno-h3 {
		font-size: 2rem;
		margin-left: 3%;
		color: $color_1;
		text-align: center;
	}
	.formulario {
		width: 77%;
		text-align: center;
		border-radius: 3px;
		color: $color_2;
		font-size: 1.5rem;
	}
	.reservarturno-colo-boton {
		background-color: $background-color_1;
		color: $color_3;
		font-size: 1.5rem;
		margin-left: 10%;
	}
}
@media (min-width: 990px) and (max-width: 1024px) {
	.reservarturno-h1 {
		font-size: 3rem;
		padding-top: 5px;
		padding-left: 5px;
		color: $color_1;
		text-align: center;
	}
	.reservarturno-fondo {
		width: 75%;
		margin-left: 12%;
	}
	.reservarturno-h3 {
		font-size: 2rem;
		margin-left: 5%;
		color: $color_1;
		text-align: center;
	}
	.formulario {
		width: 77%;
		text-align: center;
		border-radius: 3px;
		color: $color_2;
		font-size: 1.5rem;
	}
	.reservarturno-colo-boton {
		background-color: $background-color_1;
		color: $color_3;
		font-size: 1.5rem;
		margin-left: 5px;
	}
}
@media (min-width: 1025px) and (max-width: 1200px) {
	.reservarturno-h1 {
		font-size: 4rem;
		margin-left: 5%;
		color: $color_1;
	}
	.reservarturno-h3 {
		font-size: 2rem;
		margin-left: 5%;
		color: $color_1;
	}
	.formulario {
		width: 77%;
		text-align: center;
		border-radius: 3px;
		color: $color_2;
		font-size: 1.5rem;
	}
	.reservarturno-colo-boton {
		background-color: $background-color_1;
		color: $color_3;
		font-size: 1.5rem;
		margin-left: 5px;
	}
	.reservarturno-fondo {
		text-align: center;
		margin-left: 20%;
		margin-bottom: 20px;
		border-radius: 50px;
	}
}


/*MEDIA DE SERVICIO*/
@media (max-width: 351px) {
	.video {
		display: none;
	}
	.servicio-img-card {
		display: none;
	}
}
@media (min-width: 352px) and (max-width: 480px) {
	.video {
		display: none;
	}
	.servicio-img-card {
		display: none;
	}
}
@media (min-width: 481px) and (max-width: 600px) {
	.video {
		width: 400px;
		height: 400px;
		margin-left: 17%;
	}
	.servicio-img-card {
		margin-left: 10px;
		margin-bottom: 5px;
	}
}
@media (min-width: 601px) and (max-width: 768px) {
	.video {
		width: 400px;
		height: 400px;
		margin-left: 25%;
	}
	.servicio-img-card {
		width: 150px;
		height: 150px;
		border-radius: 10px 10px;
		margin-top: 20px;
		margin-left: 15px;
	}
	.servicio-card-tex {
		margin-left: 15px;
	}
}
@media (min-width: 768px) and (max-width: 989px) {
	.video {
		width: 400px;
		height: 400px;
		margin-left: 25%;
	}
}
@media (min-width: 991px) and (max-width: 1024px) {
	.video {
		width: 400px;
		height: 400px;
		margin-left: 30%;
	}
	.sobre-nosotros-card {
		margin-left: 10px;
	}
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.video {
		width: 400px;
		height: 400px;
		margin-left: 30%;
	}
	.sobre-nosotros-card {
		margin-left: 23%;
	}
}
@media (min-width: 1201px) and (max-width: 1800px) {
	.video {
		width: 400px;
		height: 400px;
		margin-left: 5.5%;
	}
}


@media (max-width: 351px) {
	.sobre-nosotros-carousel {
		display: none;
	}
	.sobre-nosotros-card {
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		padding: 10px;
	}
	.sobre-nosotros-img-card {
		display: none;
	}
	.sobre-nosotros-text {
		font-size: 1rem;
		padding-bottom: 10px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.sobre-nosotros-text-titulo {
		font-size: 2rem;
		padding-bottom: 5px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.sobre-nosotros-contenedor-texto {
		padding-top: 50px;
	}
}
@media (min-width: 352px) and (max-width: 480px) {
	.sobre-nosotros-carousel {
		display: none;
	}
	.sobre-nosotros-text {
		font-size: 1rem;
		padding-bottom: 10px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
		text-align: center;
		font-size: 1rem;
	}
	.sobre-nosotros-text-titulo {
		font-size: 2rem;
		padding-bottom: 5px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.sobre-nosotros-card {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		padding: 10px;
	}
	.sobre-nosotros-img-card {
		display: none;
	}
}
@media (min-width: 481px) and (max-width: 600px) {
	.sobre-nosotros-carousel {
		display: none;
	}
	.sobre-nosotros-text {
		font-size: 1rem;
		padding-bottom: 10px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
		text-align: center;
		font-size: 1rem;
	}
	.sobre-nosotros-text-titulo {
		font-size: 2rem;
		padding-bottom: 5px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.sobre-nosotros-card {
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		padding: 10px;
	}
	.sobre-nosotros-img-card {
		width: 30%;
		margin-left: 35%;
		margin-top: 10px;
		margin-bottom: 5px;
	}
}
@media (min-width: 601px) and (max-width: 768px) {
	.img-carrousel {
		width: 50%;
		border: black 5px solid;
		opacity: 85%;
		margin-bottom: 20px;
	}
	.sobre-nosotros-text {
		font-size: 1rem;
		padding-bottom: 10px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
		text-align: center;
		font-size: 1.5rem;
	}
	.sobre-nosotros-text-titulo {
		font-size: 2rem;
		padding-bottom: 5px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.sobre-nosotros-card {
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		padding: 10px;
	}
	.sobre-nosotros-img-card {
		width: 40%;
		margin-left: 30%;
		margin-top: 10px;
		margin-bottom: 15px;
	}
}
@media (min-width: 768px) and (max-width: 990px) {
	.sobre-nosotros-carousel {
		margin-bottom: 50px;
	}
	.sobre-nosotros-text {
		font-size: 1rem;
		padding-bottom: 10px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
		text-align: center;
		font-size: 1.5rem;
		margin-top: 30px;
	}
	.sobre-nosotros-text-titulo {
		font-size: 2rem;
		padding-bottom: 5px;
		padding-top: 30px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.img-carrousel {
		width: 50%;
		border: black 5px solid;
		opacity: 85%;
		margin-bottom: 20px;
	}
	.sobre-nosotros-card {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		padding: 10px;
	}
	.sobre-nosotros-img-card {
		width: 190%;
		margin-left: 10%;
		margin-top: 70px;
		margin-bottom: 15px;
	}
}
@media (min-width: 991px) and (max-width: 1024px) {
	.sobre-nosotros-carousel {
		margin-bottom: 50px;
	}
	.sobre-nosotros-text {
		font-size: 1rem;
		padding-bottom: 10px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
		text-align: center;
		font-size: 1.5rem;
		margin-top: 30px;
	}
	.sobre-nosotros-text-titulo {
		font-size: 2rem;
		padding-bottom: 5px;
		padding-top: 30px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.img-carrousel {
		width: 50%;
		border: black 5px solid;
		opacity: 85%;
		margin-bottom: 20px;
	}
	.sobre-nosotros-card {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		padding: 10px;
	}
	.sobre-nosotros-img-card {
		width: 90%;
		margin-left: 30%;
		margin-top: 30px;
		margin-bottom: 15px;
	}
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.sobre-nosotros-carousel {
		margin-bottom: 50px;
	}
	.sobre-nosotros-text {
		font-size: 1rem;
		padding-bottom: 10px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
		text-align: center;
		font-size: 1.5rem;
		margin-top: 30px;
	}
	.sobre-nosotros-text-titulo {
		font-size: 2rem;
		padding-bottom: 5px;
		padding-top: 30px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.img-carrousel {
		width: 50%;
		border: black 5px solid;
		opacity: 85%;
		margin-bottom: 20px;
	}
	.sobre-nosotros-card {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		padding: 10px;
	}
	.sobre-nosotros-img-card {
		width: 90%;
		margin-left: 20%;
		margin-top: 30px;
		margin-bottom: 15px;
	}
}
@media (min-width: 1201px) and (max-width: 1800px) {
	.sobre-nosotros-carousel {
		margin-bottom: 50px;
	}
	.img-carrousel {
		width: 40%;
		border: black 5px solid;
		opacity: 85%;
		margin-bottom: 20px;
	}
	.sobre-nosotros-text {
		font-size: 1rem;
		padding-bottom: 10px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
		text-align: center;
		font-size: 1.5rem;
		margin-top: 50px;
	}
	.sobre-nosotros-text-titulo {
		font-size: 2rem;
		padding-bottom: 5px;
		padding-top: 30px;
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
	}
	.sobre-nosotros-card {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		padding: 10px;
	}
	.sobre-nosotros-img-card {
		width: 90%;
		margin-left: 20%;
		margin-top: 40px;
		margin-bottom: 15px;
	}
}

