/*media de sobre nosotros*/
@-webkit-keyframes sobre-nosotros-img-card {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}
@keyframes sobre-nosotros-img-card {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes sobre-nosotros-animacion-h1 {
	0% {
		letter-spacing: 1em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		letter-spacing: normal;
		opacity: 1;
	}
}
@keyframes sobre-nosotros-animacion-h1 {
	0% {
		letter-spacing: 1em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		letter-spacing: normal;
		opacity: 1;
	}
}
.img-carrousel {
	width: 25%;
	height: 50%;
	border: black 5px solid;
	opacity: 85%;
	border-radius: 20px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.sobre-nosotros-img-card {
	-webkit-animation: sobre-nosotros-img-card 5s ease-out infinite both;
	animation: sobre-nosotros-img-card 5s ease-out infinite both;
}
.sobre-nosotros-card {
	background-color: $background-color_4;
	border-radius: 20px;
}
.fondo-main {
	margin-bottom: 34px;
}
.sobre-nosotros-animacion-h1 {
	-webkit-animation: sobre-nosotros-animacion-h1 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate-reverse both;
	animation: sobre-nosotros-animacion-h1 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate-reverse both;
}